<a href="https://colab.research.google.com/github/JulianBasilio/58013-Linear-Algebra/blob/main/Review_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
#Python Indentation
if 5>2:
 print("Five is greater than two!")

Five is greater than two!

In [7]:
#This is a comment
print("Hello, World")

Hello, World

In [9]:
#Python Variable
x=1
a,b=0,-1
a,b,c=0,-1,2
b="Sally" #This is a type of string

In [10]:
#Casting
b="sally" #This is a type of string
b=int(4)
print(b)

b=float(4)
print(b)

4
4.0

In [12]:
#Type() function
x=5
y="John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [13]:
#"Double Quotes" or 'Single Quotes'
y="John"
y='John'

In [20]:
#Case Sensitive
a=4
A="Sally"
#A will not overwrite A

In [23]:
#Multiple Variables
x,y,z="one","two","three"
print(x)
print(y)
print(z)

one
two
three

In [24]:
#One Value to Multiple Variables
x=y=z="four"
print(x)
print(y)
print(z)

four
four
four

In [37]:
#Output Variables
x="enjoying"
print("Python programming is "+x)

Python programming is enjoying

In [39]:
#Other way of output variable:
x="Python is "
y="Enjoying"
z=x+y
print(z)

Python is Enjoying

In [40]:
#Arithmetic Operation
x=5
y=3
print(x+y)

x=5
y=3
sum=x+y
sum

8

8

In [41]:
#Assignment Operator
a,b,c=0,-1,6
c%=3
c

0

In [45]:
#Comparison and Logical Operator
a,b,c= 0,-1,6
a>b and c>b

True

In [47]:
#Identity Operator
a,b,c=0,-1,3
a is c

False

In [55]:
#Bitwise Operator
a,b,c=0,-1,5
c<<1

10